body {
  font-family: Helvetica;
}

#root {
  height: 100;
  display: flex;


}


.search{
  max-height: 100%;
  max-width: 100%;
  outline: 3px solid black;
}


.img-wrapper{
  border-style: solid;
}

.otherBox{

  display:flex;
  justify-content: space-evenly;

}


